.span5
  .row-fluid
    .span12
      h1 Yakity Yak Yak Is a <br/> Freedumb Social Network
      p It's your real-time feed, a home for meaningless conversation, where you often loose control. It's a place to yak it up with your friends and complete strangers about your live and express your opionions about all the worthless crap that is your life.
      p In all reality though, this is just a demo site for my "Real World Backbone.js" presentation. It contains examples of how I would solve real world problems and impliment common pages. It might be crap or it might just be a stroke of genius... that's for you to decide.
      p 
        | All the code is available on 
        a(href="https://github.com/ccowan/real-world-backbone") GitHub.

.span5
  #signin.row-fluid
  #signup.row-fluid
