h3 Explore
ul
  li.active
    i.icon-chevron-right.pull-right
    a(href="/api/v1/posts/mine") My Feed 
  li
    i.icon-chevron-right.pull-right
    a(href="/api/v1/posts/mentions") @Mentions
  li
    i.icon-chevron-right.pull-right
    a(href="/api/v1/posts") Kitchen Sink
