.span12
  form
    h4 New User? Get Started Now
    .control-group
      input.span12(type="text", name="name", placeholder="Full Name")
    .control-group
      input.span12(type="text", name="username", placeholder="Username")
    .control-group
      input.span12(type="text", name="email", placeholder="Email Address")
    .control-group
      input.span12(type="password", name="password", placeholder="Password")
    .control-group
      button.pull-right.btn.btn-warning Sign Up Now
    .clearfix

