extend layout

block content
  .span12
    form
      input.span12(type="text", name="username", placeholder="Username")
      button.span2.pull-right.btn.btn-warning Signin 
      input.span10(type="text", name="password", placeholder="Password")
    form
      h3 Get Started Now
      input.span12(type="text", name="name", placeholder="Full Name")
      input.span12(type="text", name="username", placeholder="Username")
      input.span12(type="text", name="email", placeholder="Email Address")
      input.span12(type="text", name="password", placeholder="Password")
      button.pull-right.btn.btn-warning Sign Up Now
      .clearfix

