.span12
  form
    .control-group
      input.span12(type="text", name="username", placeholder="Username")
    .control-group.controls-row
      input.span10(type="password", name="password", placeholder="Password")
      button.span2.btn.btn-warning Signin 
