.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  background-color: #633f1f;
  font-weight: 400;
}
.main {
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}
.container-fluid {
  margin-top: 40px;
}
.logo {
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}
.logo img {
  margin-top: -50px;
  width: 100px;
}
.logo span.headline {
  font-family: 'Ceviche One', cursive;
  font-size: 1.2em;
  color: #633f1f;
}
.icon-brain,
.icon-brain-dump {
  color: #F99;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
