.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.navigation {
  border-bottom: 10px solid #633f1f;
  background: #FFF;
}
.main {
  background: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
}
#content {
  margin-top: 40px;
}
.avatar img {
  border: 1px solid #999;
}
.logo {
  font-size: 50px;
}
.logo img {
  width: 90px;
  position: absolute;
  top: -10px;
}
.logo span.headline {
  font-family: 'Ceviche One', cursive;
  font-size: 1.2em;
  color: #633f1f;
  margin-left: 90px;
}
.icon-brain,
.icon-brain-dump {
  color: #F99;
}
#dashboard {
  padding-top: 10px;
}
#dashboard .name {
  margin-left: 50px;
}
#dashboard .avatar {
  width: 40px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
#nav {
  border-right: 1px solid #DDD;
}
#nav ul {
  list-style: none;
  margin: 0;
}
#nav ul li {
  border-top: 1px solid #DDD;
  padding: 10px 0 10px 10px;
  display: block;
}
#nav ul li i {
  display: none;
}
#nav ul li:hover {
  background-color: #faf3ed;
}
#nav ul li.active {
  color: #FFF;
  background-color: #633f1f;
}
#nav ul li.active i {
  display: inline-block;
  margin-top: 3px;
}
#nav ul li.active a {
  color: #FFF;
}
#nav ul li a {
  color: #999;
}
#feed h3 {
  background-color: #CCC;
  font-size: 16px;
  color: #FFF;
  line-height: 12px;
  padding: 10px;
}
#posts .body.empty {
  text-align: center;
}
#posts .body.empty h2 {
  font-size: 22px;
}
#posts .post {
  border-bottom: 1px solid #DDD;
  padding: 20px 0;
}
#posts .post .body {
  font-size: 18px;
  margin-bottom: 10px;
}
#posts .post .body.empty {
  text-align: center;
}
#posts .post .name {
  font-size: 14px;
  font-weight: bold;
}
#posts .post .date {
  font-size: 12px;
  color: #999;
}
