@import "variables.less";
@import "mixins.less";
@primary: #633F1F;

body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.navigation {
  border-bottom: 10px solid @primary;
  background: #FFF;
}

.main {
  background: #FFF;
  .border-radius(5px);
  padding: 10px 20px;
}

#content {
  margin-top: 40px;
}

.avatar {
  img {
    border: 1px solid #999;
  }
}


.logo {
  font-size: 50px;
  img {
    width: 90px; 
    position: absolute;
    top: -10px;
  }
  span.headline {
    font-family: 'Ceviche One', cursive;
    font-size: 1.2em;
    color: @primary;
    margin-left: 90px;
  }
}

.icon-brain, .icon-brain-dump {
  color: #F99;
}

#dashboard {
  padding-top: 10px;
  .name {
    margin-left: 50px;
  }
  .avatar {
    width: 40px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

#nav {
  border-right: 1px solid #DDD;
  ul {
    list-style: none;
    margin: 0;
    li {
      i { display: none; }
      &:hover {
        background-color: lighten(@primary, 70); 
      }
      &.active {
        i { display: inline-block; margin-top: 3px;  }
        color: #FFF;
        background-color: @primary;
        a { color: #FFF; }
      }
      a {
        color: #999;
      }
      border-top: 1px solid #DDD;
      padding: 10px 0 10px 10px;
      display: block;
    }
  }
}

#feed {
  h3 {
    background-color: #CCC;
    font-size: 16px;
    color: #FFF;
    line-height: 12px;
    padding: 10px;
  }
}

#posts {
  .body {
    &.empty {
      text-align: center;
      h2 {
        font-size: 22px;
      }
    }
  }
  .post {
    border-bottom: 1px solid #DDD;
    padding: 20px 0;
    .body {
      &.empty {
        text-align: center;
      }
      font-size: 18px;
      margin-bottom: 10px;
    }
    .name {
      font-size: 14px;
      font-weight: bold;
    }
    .date {
      font-size: 12px;
      color: #999;
    }
  }
}
